.painel {
    width: 20%;
    background: #57BC90;
    margin-left: 9%;
    float: left;
    margin-top: 15%;
    min-height: 38%;
    -webkit-box-shadow: -15px 12px 20px rgba(29, 140, 231, 0.45);
    -moz-box-shadow: -15px 12px 20px rgba(29, 140, 231, 0.45);
    box-shadow: -15px 12px 20px rgba(29, 140, 231, 0.45);
    border: 1px solid rgba(29, 140, 231, 0.45);

}

img{
    width: 50%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #77C9D4;
}